WebServicesGenerales/WebContent/wsdl/General.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myvsoluciones.com/General/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="General" targetNamespace="http://myvsoluciones.com/General/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://myvsoluciones.com/General/">
      <xsd:element name="saludo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saludoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respuesta" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sumar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="numero1" type="xsd:int"></xsd:element>
      			<xsd:element name="numero2" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sumarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="resultado" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="saludoRequest">
    <wsdl:part element="tns:saludo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="saludoResponse">
    <wsdl:part element="tns:saludoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sumarRequest">
  	<wsdl:part name="parameters" element="tns:sumar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarResponse">
  	<wsdl:part name="parameters" element="tns:sumarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="General">
    <wsdl:operation name="saludo">
      <wsdl:input message="tns:saludoRequest"/>
      <wsdl:output message="tns:saludoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sumar">
    	<wsdl:input message="tns:sumarRequest"></wsdl:input>
    	<wsdl:output message="tns:sumarResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralSOAP" type="tns:General">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="saludo">

  		<soap:operation
  			soapAction="http://myvsoluciones.com/General/saludo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="sumar">

  		<soap:operation
  			soapAction="http://myvsoluciones.com/General/sumar" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port binding="tns:GeneralSOAP" name="GeneralSOAP">
      <soap:address location="http://mysoluciones.com/wsgeneral"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
